<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayak Ustu IQ Testi</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />

</head>
<body>
    <h1>Ayak Ustu IQ Testi</h1>
    <form action="/get_question">
        <input type="text" name="question" id="get_question" placeholder="Get a new Question" />
        <button type="submit">Submit</button>
</body>
</html>